@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@media(max-width: 992px){
}
*{
	margin: 0;
	padding: 0;
	color: #fff;
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main {
	text-align: center;
	position: relative;
}
.main img{
	width: 300px;
	height: 300px;
}
.main h1{
   font-size: 70px;
}   	
.main p{
   font-size: 50px;
}
.ButtonTG {
	background-color: blue;
	font-size: 50px;
	position: relative;
	left: 330px;
	top: 40px;
	text-decoration: none;
	padding: 20px 70px;
}
.yt {
	font-size: 50px;
	position: relative;
	background-color: red;
	right: 170px;
	top: 150px;
	text-decoration: none;
	padding: 20px 70px;
}
.fr {
    background-color: green;
    font-size: 70px;
    position: relative;
    top: 100px;
    right: 100px;
    text-decoration: none;
	padding: 20px 70px;
}
.php {
	background-color: black;
	font-size: 30px;
	position: relative;
	right: 580px;
	text-decoration: none;
	padding: 20px 70px;
}
