/*
  ... стандартные правила CSS ...
  например, выводим карточки товаров по 4 в ряд
*/
@media (max-width:768px) {
  /*
    ... правила для планшетов ...
    выводим карточки товаров по 2 в ряд
  */
}
@media (max-width:320px) {
  /*
    ... правила для смартфонов ...
    выводим карточки товаров по 1 в ряд
  */
}


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
	margin: 0;
	padding: 0;
	color: #fff;
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.main {
	text-align: center;
	position: relative;
}


.main img{
	width: 300px;
	height: 300px;

}

.main h1{
   font-size: 70px;
}   	

.main p{
   font-size: 50px;
}

.ButtonTG {
	background-color: blue;
	font-size: 50px;
	position: relative;
	top: 60px;
}

.Friends {
	position: relative;
	font-size: 50px;
	top: 93px;
}

.image1 {
 position: relative;
 top: 110px;
 right: 180px;

 }

.Dog {
 	position: relative;
 	font-size: 40px;
 	top: 130px;
 	right: 180px;
}

.main {
   background-color: 
   width: 100%;
   height: 500vh;
}

.yokos {
	position: relative;
	top: 85px;
	left: 190px;
	font-size: 40px;

}	

.yokoss {
	position: relative;
	top: -285px;
	left: 200px;
}
